body {
    font-family: Simplex;
    font-size: 50px;
    background-color: #d32f2f;
    color: white;
}

.title {
    font-size: 130px;
    text-align: center;
    color: #000;
}

.blank2 {
    background-color: #000;
    font-size: 50px;
    font-family: Simplex;
    border-style: none;
    margin-bottom: 10px;
    width: 30%;
    height: 15%;
    text-align: center;
    color: #d32f2f;
}

.clic {
    color: #000;
    font-size: 100px;
    font-family: Simplex;
    border-style: none;
    width: 100%;
    background-color: #d32f2f;
}

.register {
    color: #d32f2f;
    font-size: 100px;
    font-family: Simplex;
    border-style: none;
    width: 100%;
    background-color: #000;
}

.blank3 {
    background-color: #000;
    font-size: 30px;
    border-style: none;
    margin-bottom: 10px;
    width: 20%;
    height: 11%;
    text-align: center;
    color: #d32f2f;
    font-family: Simplex;
}