html
    head
        style
            include ../css/style.css
        title My first todo app
    body
        div.title
            h3 ERR0R~~^^♥
            h3= error
            a(href="/") BACK TO THE BORN!!!
        